
.homeHeading{
    text-align: center;
    font-family: Roboto;
    font-size: 1.8vmax;
    border-bottom: 1px solid rgb(20, 17, 17);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    margin-top: 1vmax;
    margin-bottom: 1.5vmax;
}

.container{
    display: flex;
    margin: 1vmax auto;
    flex-wrap: wrap;
    width:95vw;
    justify-content: center;
    max-width: 100%;
}

.productCard{
    width:10vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:rgba(48,48,48,0);
    margin: 2.2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard > img {
    width:10vmax;
}
.productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .productCard > div > span {
    margin:0.7vmax;
    font:300 0.7vmax "Roboto";
    color: black;
} */

.productCard-span{
    margin:0.5vmax;
    font:300 0.7vmax "Roboto";
    color: black;
}
.productCard > p{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin:1vmax 0.5vmax;
    margin-bottom: 0;
    color: black;
}

.productCard > span {
    margin: 0.5vmax;
    color:tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}
.productCard:hover{
    box-shadow:  0 0 5px rgba(16, 14, 14,0.25);
    transform: translate(-0.7vmax);
}

@media screen and (max-width:600px) {
    .productCard{
        width:5vmax;
        display: flex;
        margin: 1.2vmax;
    }
    .productCard > img {
        width:4.8vmax;
        height: 2.4vmax;
    }
    .productCard > p {
        font-size: 0.8vmax;
    }
    .productCard > div {
        margin: 0vmax;
        display: block;
    }
    .productCard > span{
        font-size: 1vmax;
    }
    .productCard > div > span{
        margin: 0 0.1vmax;
        font: 100 0.6vmax "Roboto";
    }
}